{% extends "base.html" %}

{% block title %}
صفحه لیست آیتم ها
{% endblock %}

{% block content %} 

<form method="get">
    
    <input type="text" name="q" placeholder="جستوجو..." value="{{ request.GET.q }}">
    <select name="status">
        <option value="">
            همه وضعیت ها
        </option>
        <option value="open"
            {%if request.GET.status == "open"%}
                selected
            {% endif %}
        >
            باز
        </option>
        <option value="closed"
            {%if request.GET.status == "closed"%}
                selected
            {% endif %}
        >
            بسته شده
        </option>
    </select>
    <input type="number" name="category" placeholder="دسته بندی..." value="{{ request.GET.category }}">

    <button type="submit"> search </button>
</form>


<hr/>

{% for item in items %}
    <h3> {{ item.title }}     </h3>
    <p>  {{ item.location }}  </p>
    <hr/>

{% empty %}
    {% if empty_state == "no_items" %}

        <h2>هنوز هیچ آیتمی در سیستم ثبت نشده است.</h2>
        <a href="{% url 'create_item' %}">
            ثبت اولین آیتم
        </a>

    {% elif empty_state == "no_results" %}

        <h2>نتیجه‌ای پیدا نشد.</h2>
        <p>
            جستجو یا فیلتر فعلی هیچ آیتمی پیدا نکرد.
        </p>

        <a href="{% url 'list_item' %}">
            مشاهده همه آیتم‌ها
        </a>
{% endif %}
{% endfor %}

{% endblock %}