{% extends "base.html" %}

{% block title %}
صفحه جزئیات آیتم
{% endblock %}

{% block content %}        
<a href="{% url 'update_item' item.id %}"> ویرایش این آیتم </a>

<h1> {{item.title}} </h1>

<p>  {{item.description}} </p>

<p>  {{item.get_status_display }} </p>

<p>  {{item.location }} </p>

<p>  {{item.event_date }} </p>

<p>  {{item.category }} </p>

<h2>اطلاعات تصویر</h2>

{% if item.image %}

 <p>تصویر وجود دارد: بله</p>

    <p>
        نام فایل:
        {{ item.image.name }}
    </p>

    <p>
        URL فایل:
        {{ item.image.url }}
    </p>

    <img src="{{item.image.url}}" alt="{{item.title}}"/>

{% else %} 

 <p>تصویر وجود دارد: خیر</p>
    <div style="
        width: 300px;
        height: 200px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    ">
        تصویری برای این آیتم وجود ندارد.
    </div>
  
{% endif %}
{% endblock %}