{% extends "base.html" %}

{% block title %}
صفحه جزئیات آیتم
{% endblock %}

{% block content %}     

<form method="post" action="{% url 'change_status_item' item.id %}">
    {% csrf_token %}
    
    <select name="status">
        <option value="open"
            {%if item.status == "open"%}
                selected
            {% endif %}
        >
            باز
        </option>
        <option value="reviewing"
            {%if item.status == "reviewing"%}
                selected
            {% endif %}
        >
            در حال بررسی
        </option>
        <option value="delivered"
            {%if item.status == "delivered"%}
                selected
            {% endif %}
        >
            تحویل شده 
        </option>
        <option value="closed"
            {%if item.status == "closed"%}
                selected
            {% endif %}
        >
            بسته شده
        </option>
    </select>
    <button type="submit"> ثبت تغییر وضعیت </button>
</form>

<a href="{% url 'update_item' item.id %}"> ویرایش این آیتم </a>


{% if item.status == "open" %}
<form method="post">
    {% csrf_token %}
    <button type="submit"> ثبت درخواست مالکیت </button>
</form>
{% endif %}

<h1> {{item.title}} </h1>

<p>  {{item.description}} </p>

<p>  {{item.get_status_display }} </p>

<p>  {{item.location }} </p>

<p>  {{item.event_date }} </p>

<p>  {{item.category }} </p>

{% if item.image %}
    <img src="{{item.image.url}}" alt="{{item.title}}"/>
{% else %}
    <p>تصویری برای این آیتم وجود ندارد.</p>
{% endif %}
{% endblock %}